body {
    background-color: rgb(156, 212, 238);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 450px;       
    height: 450px;      
    padding: 30px;      
    box-sizing: border-box; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; /* Adds a clean, uniform gap between the elements inside the card */
}

/* Target the button inside the container */
.container button {
    background-color: rgb(23, 137, 224);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    align-self: flex-start;
}

span {
    color: rgb(213, 11, 11);
    font-weight: bold;
}

div{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid rgb(45, 45, 47);
    border-radius: 10px;
    margin: 10px 500px 500px 500px;
}